body {
  color: rgb(31, 30, 33);
  background-color:rgb(240, 200, 0);
  height: 100%;
  width: 100%;
  position: absolute;
}

.dhkbanner {
  max-height: 20vh;
  overflow: hidden;
}
.dhksponsor {
  height: 80vh;
  overflow: hidden;
}
.dhkimg {
  max-height: 98vh;
  overflow: hidden;
  padding:1vh;
}

.dhkcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

