#cphBackground_slideshow {
  position:relative;
  height:350px;
}

#cphBackground_slideshow IMG {
  position:absolute;
  top:0;
  left:0;
  z-index:8;
  opacity:0.0;
}

#cphBackground_slideshow IMG.active {
  z-index:10;
  opacity:1.0;
}

#cphBackground_slideshow IMG.last-active {
  z-index:9;
}
